{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Capoeira {%block title%}{%endblock%}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- Font-awesome -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{%static '/css/styleindex.css'%}">

  <link rel="stylesheet" href="{%static '/css/style.css'%}">

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <!-- <script src="{ static 'js/jquery.validate.min.js'%}"></script> -->
  <!-- <script src="{ static 'js/jquery.mask.min.js'%}"></script> -->
  <!-- <script src="{ static 'js/localization/messages_pt_BR.js'%}"></script> -->

  <!-- Datepicker -->
  <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
  <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />

  <!-- notify -->
  <!-- <script src="{ static 'js/bootstrap-notify.min.js' %}"></script> -->

  <!-- VueJS -->
  <script src="{% static '/js/vue.js' %}"></script>

  <!-- Axios -->
  <script src="{% static '/js/axios.min.js' %}"></script>

  {% block style %}{% endblock style %}
</head>

<body>
  <div id="app">

    <div class="container-fluid">
      {% block nav %}
        <!-- { include "nav.html" %} -->
      {% endblock nav %}

      <!-- Breadcrumb-->
      <!-- <ol class="breadcrumb breadcrumb-mt">
          <li class="breadcrumb-item">
              <a href="">Início</a>
          </li>
          {% block breadcrumbs %}{% endblock %}
      </ol> -->
    
      {% block content %}{% endblock content %}
      <!-- <footer class="footer mt-auto py-3">
        <p>Sistema ARI</p>
      </footer> -->
    </div>

  {% block js %}{% endblock js %}

  </div>

  {% block vuejs %}{% endblock vuejs %}

</body>

</html>