{% extends "base.html" %}
{% block title %}| Evento{%endblock%}
{% block style %}
<style>
  .glyphicon {  margin-bottom: 10px;margin-right: 10px;}
    small {
      display: block;
      line-height: 1.428571429;
      color: #999;
    }
  </style>
{% endblock style %}
{% block content %}
<div class="">
  <div class="accordion accordion-icons" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        <h2 class="mb-0">
          <button class="btn btn-link" type="button">
            <span><i class="fa fa-chevron-up"></i></span>
            Detalhes
          </button>
          <a class="btn btn-primary float-right" href="{% url 'core:event_report' object.pk %}">Imprimir</a>
        </h2>
      </div>
      <div id="collapseOne" class="my-collapse collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <div class="row row-cols-1 row-cols-md-3">
            <div class="col-sm-6 text-left mb-4">
              <div class="card">
                <div class="card-body">
                  <div class="well well-sm">
                    <div class="row">
                      <!-- poderia ser col-sm-6 -->
                      <div class="col-sm-12 col-md-12">
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item"><b>Nome do evento</b> <br>{{ object.title }}</li>
                          <li class="list-group-item"><b>Sumário Executivo</b> <br>{{ object.executive_summary }}</li>
                          <li class="list-group-item"><b>Histórico da Instituição</b> <br>{{ object.institution_history }}</li>
                          <li class="list-group-item"><b>Histórico da modalidade / conceito do projeto</b> <br>{{ object.sport_history }}</li>
                          <li class="list-group-item"><b>Data do evento</b> <br>{{ object.date }}</li>
                          <li class="list-group-item"><b>Público estimado</b> <br>{{ object.estimated_audience }}</li>
                          <li class="list-group-item"><b>Local do evento</b> <br>{{ object.location }}</li>
                          <li class="list-group-item"><b>Horário do evento</b> <br>{{ object.start }}</li>
                          <li class="list-group-item"><b>Objetivo</b> <br>{{ object.objective }}</li>
                          <li class="list-group-item"><b>Inscrição</b> <br>{{ object.subscription }}</li>
                          <li class="list-group-item"><b>Forma de pagamento</b> <br>{{ object.payment }}</li>
                          <li class="list-group-item"><b>Imagem positiva x imagem corporativa</b> <br>{{ object.positive_image }}</li>
                          <li class="list-group-item"><b>Parceiros</b> <br>{{ object.partners }}</li>
                          <li class="list-group-item"><b>Custo x beneficio</b> <br>{{ object.description }}</li>
                          <li class="list-group-item"><b>Público-alvo</b> <br>{{ object.target_audience }}</li>
                          <li class="list-group-item"><b>Estratégias de marketing</b> <br>{{ object.marketing }}</li>
                          <li class="list-group-item"><b>Vantagens para o patrocinador</b> <br>{{ object.benefits }}</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <h5>lorem</h5>
                    <p class="card-text">lorem</p>
                    <p class="card-text">lorem</p>
                  </li>
                </ul> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Cotas -->
    <div class="card">
      <div class="card-header" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button">
            <span><i class="fa fa-chevron-down"></i></span>
            Custo x Benefício
            <!-- <span>
              <i class="fa fa-plus fa-2x add-item" data-toggle="modal" data-target="#modalAdicionarOcorrencia" @click="getAddOcorrencia"></i>
            </span> -->
          </button>
        </h2>
      </div>
      <div id="collapseTwo" class="my-collapse collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th>Patrocínio</th>
                <th>Valor</th>
                <th>Reciprocidade</th>
                <!-- <th>Ações</th> -->
              </tr>
            </thead>
            <tbody>
              {% for cost in object.events.all %}
              <tr>
                <td>{{ cost.sponsorship }}</td>
                <td>{{ cost.value }}</td>
                <td>{{ cost.reciprocity }}</td>
                <!-- <td>
                  <span class="span-is-link" data-toggle="modal" data-target="#modalEditCost" click="getCost('{ url 'core:' cost.pk %}')">
                    <i class="fa fa-edit" style="margin-left: 10px;"></i>
                  </span>
                </td>
              </tr> -->
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- Orçamento -->
    <div class="card">
      <div class="card-header" id="heading3" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button">
            <span><i class="fa fa-chevron-down"></i></span>
            Orçamento
          </button>
        </h2>
      </div>
      <div id="collapse3" class="my-collapse collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th>Descrição</th>
                <th>Valor Unitário</th>
                <th class="text-center">Quantidade</th>
                <th>Total</th>
                <!-- <th>Ações</th> -->
              </tr>
            </thead>
            <tbody>
              {% for proposal in object.proposal_events.all %}
              <tr>
                <td>{{ proposal.description }}</td>
                <td>R$ {{ proposal.value }}</td>
                <td class="text-center">{{ proposal.quantity }}</td>
                <td>R$ {{ proposal.get_subtotal }}</td>
              {% endfor %}
            </tbody>
            <tfoot>
              <tr>
                <td colspan="2"></td>
                <td><b>Total Geral</b></td>
                <td>R$ {{ object.get_total }}</td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
    <!-- Evento -->
    <div class="card">
      <div class="card-header" id="heading4" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button">
            <span><i class="fa fa-chevron-down"></i></span>
            Evento
          </button>
        </h2>
      </div>
      <div id="collapse4" class="my-collapse collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th>Data</th>
                <th>Hora</th>
                <th>Atividade</th>
                <!-- <th>Ações</th> -->
              </tr>
            </thead>
            <tbody>
              {% for talk in object.talk_events.all %}
              <tr>
                <td>{{ talk.date }}</td>
                <td>{{ talk.start }}</td>
                <td>{{ talk.description }}</td>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
{% block vuejs %}
<script>
$('.my-collapse').on('shown.bs.collapse', function() {
  $(this).prev().find(".fa").addClass('fa-chevron-up').removeClass('fa-chevron-down');
});

$('.my-collapse').on('hidden.bs.collapse', function() {
  $(this).prev().find(".fa").addClass('fa-chevron-down').removeClass('fa-chevron-up');
});
</script>
<script>
const endpoint = '{{ endpoint }}';

axios.defaults.xsrfHeaderName = 'X-CSRFToken'
axios.defaults.xsrfCookieName = 'csrftoken'

var app = new Vue({
  el: '#app',
  delimiters: ['${', '}'],
});
</script>
{% endblock vuejs %}