{% extends "base.html" %}
{% block style %}
<style>
  body {
  font-family: Verdana;
  font-size: 11pt;
}
li {
  font-size: 20pt;
}
p {
  font-size: 11pt;
  text-align: justify;
}
.dados {
  font-family: Arial, sans-serif;
}
table {
  font-family: Arial, sans-serif;
}
</style>
{% endblock style %}
{% block content %}
<div class="container">
  <div class="text-center">
    <h1 style="padding-top: 5cm;">{{ object.title }}</h1>
    <h2 style="margin-top: 5cm">{{ object.location }}</h2>
    <h2 style="margin-top: 5cm">{{ object.date }} - {{ object.start }}</h2>
  </div>
  <p style="page-break-before: always">
    <ol type="I">
      <!-- 1 -->
      <li>
        <h2>Sumário Executivo</h2>
        <p>{{ object.executive_summary }}</p>
      </li>
      <!-- 2 -->
      <li>
        <h2>Histórico da Instituição</h2>
        <p>{{ object.institution_history }}</p>
      </li>
      <!-- 3 -->
      <li>
        <h2>Histórico da modalidade / conceito do projeto</h2>
        <p>{{ object.sport_history }}</p>
      </li>
      <!-- 4 -->
      <li>
        <h2>Dados Gerais</h2>
        <h4><span class="dados">Data:</span> {{ object.date }}</h4>
        <h4><span class="dados">Público estimado:</span> {{ object.estimated_audience }}</h4>
        <h4><span class="dados">Local:</span> {{ object.location }}</h4>
        <h4><span class="dados">Horário:</span> {{ object.start }}</h4>
        <h4 class="dados">Objetivo</h4>
        <h5>{{ object.objective }}</h5>
        <h4 class="dados">Inscrição</h4>
        <h5>{{ object.subscription }}</h5>
        <h4><span class="dados">Forma de pagamento:</span> {{ object.payment }}</h4>
      </li>
      <!-- 5 -->
      <li>
        <h2>Público-alvo</h2>
        <p>{{ object.target_audience }}</p>
        <h2>Estratégias de marketing</h2>
        <p>{{ object.marketing }}</p>
        <h2>Vantagens para o patrocinador</h2>
        <p>{{ object.benefits }}</p>
        <h2>Imagem positiva x imagem corporativa</h2>
        <p>{{ object.positive_image }}</p>
        <h2>Parceiros</h2>
        <p>{{ object.partners }}</p>
        <p style="page-break-before: always">
          <h2>Custo x beneficio</h2>
          <p>{{ object.description }}</p>
          <!-- Cotas -->
          <table class="table table-responsive">
            <thead>
              <tr>
                <th>Patrocínio</th>
                <th>Valor</th>
                <th>Reciprocidade</th>
              </tr>
            </thead>
            <tbody>
              {% for cost in object.events.all %}
              <tr>
                <td>{{ cost.sponsorship }}</td>
                <td style="width: 200px;">R$ {{ cost.value }}</td>
                <td>{{ cost.reciprocity }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
      </li>
      <!-- 6 -->
      <li>
        <p style="page-break-before: always">
          <h2>Orçamento total do evento</h2>
          <table class="table table-responsive">
            <thead>
              <tr>
                <th>Descrição</th>
                <th>Valor Unitário</th>
                <th class="text-center">Quantidade</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              {% for proposal in object.proposal_events.all %}
              <tr>
                <td>{{ proposal.description }}</td>
                <td>R$ {{ proposal.value }}</td>
                <td class="text-center">{{ proposal.quantity }}</td>
                <td style="width: 200px;">R$ {{ proposal.get_subtotal }}</td>
                {% endfor %}
            </tbody>
            <tfoot>
              <tr>
                <td colspan="2"></td>
                <td><b>Total Geral</b></td>
                <td>R$ {{ object.get_total }}</td>
              </tr>
            </tfoot>
          </table>
      </li>
      <!-- 7 -->
      <li>
        <p style="page-break-before: always">
          <h2>Programação do evento</h2>
          <table class="table table-responsive">
            <thead>
              <tr>
                <th>Data</th>
                <th>Hora</th>
                <th>Atividade</th>
              </tr>
            </thead>
            <tbody>
              {% for talk in object.talk_events.all %}
              <tr>
                <td>{{ talk.date }}</td>
                <td>{{ talk.start }}</td>
                <td>{{ talk.description }}</td>
                {% endfor %}
            </tbody>
          </table>
      </li>
    </ol>
</div>
{% endblock content %}
{% block js %}
<script>
window.onload = function() {
  window.print();

  setTimeout(() => {
    window.close();
  }, 2000);
};
</script>
{% endblock js %}