{% extends "base.html" %}
{% load static %}
{% block title %}| Evento{%endblock%}
{% block content %}
<div class="container">
  <h4>Adicionar Evento</h4>
  <form @submit.prevent="salvar">
    <div class="accordion" id="accordionExample">
      <!-- Evento -->
      <div class="card">
        <div class="card-header" id="heading1" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapse1" @click="toggleCollapse(1)">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed" type="button">
              <span>
                <i class="fa" :class="v.v1 ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
              </span>
              Evento
            </button>
          </h2>
        </div>
        <div id="collapse1" class="my-collapse collapse show" aria-labelledby="heading1" data-parent="#accordionExample">
          <div class="card-body">
            <!-- Evento -->
            <div>
              <div class="form-group">
                <label for="" class="control-label required">Nome do evento</label>
                <input id="id_title" name="title" v-model="event.title" class="form-control" required type="text" />
              </div>
              <div class="form-group">
                <label for="" class="control-label">Sumário Executivo</label>
                <textarea id="id_executive_summary" name="executive_summary" v-model="event.executive_summary" class="form-control" cols="30" rows="10"></textarea>
              </div>
              <div class="form-group">
                <label for="" class="control-label">Histórico da Instituição</label>
                <textarea id="id_institution_history" name="institution_history" v-model="event.institution_history" class="form-control" cols="30" rows="10"></textarea>
              </div>
              <div class="form-group">
                <label for="" class="control-label">Histórico da modalidade / conceito do projeto</label>
                <textarea id="id_sport_history" name="sport_history" v-model="event.sport_history" class="form-control" cols="30" rows="10"></textarea>
              </div>
              <div class="form-group">
                <label for="" class="control-label">Data do evento</label>
                <input id="id_date" name="date" v-model="event.date" class="form-control" type="date" />
              </div>
              <div class="form-group">
                <label for="" class="control-label">Horário do evento</label>
                <input id="id_start" name="start" v-model="event.start" class="form-control" type="time" />
              </div>
              <div class="form-group">
                <label for="" class="control-label">Público estimado</label>
                <input id="id_estimated_audience" name="estimated_audience" v-model="event.estimated_audience" class="form-control" type="number" min="0" step="1" />
              </div>
              <div class="form-group">
                <label for="" class="control-label">Local do evento</label>
                <textarea id="id_location" name="location" v-model="event.location" class="form-control" cols="30" rows="10"></textarea>
              </div>
              <div class="form-group">
                <label for="" class="control-label">Objetivo</label>
                <textarea id="id_objective" name="objective" v-model="event.objective" class="form-control" cols="30" rows="10"></textarea>
              </div>
              <div class="form-group">
                <label for="" class="control-label">Inscrição</label>
                <textarea id="id_subscription" name="subscription" v-model="event.subscription" class="form-control" cols="30" rows="10"></textarea>
              </div>
              <div class="form-group">
                <label for="" class="control-label">Forma de pagamento</label>
                <textarea id="id_payment" name="payment" v-model="event.payment" class="form-control" cols="30" rows="10"></textarea>
              </div>
              <div class="form-group">
                <label for="" class="control-label">Imagem positiva x imagem corporativa</label>
                <textarea id="id_positive_image" name="positive_image" v-model="event.positive_image" class="form-control" cols="30" rows="10"></textarea>
              </div>
              <div class="form-group">
                <label for="" class="control-label">Parceiros do projeto</label>
                <textarea id="id_partners" name="partners" v-model="event.partners" class="form-control" cols="30" rows="10"></textarea>
              </div>
              <div class="form-group">
                <label for="" class="control-label">Custo x Beneficio</label>
                <textarea id="id_description" name="description" v-model="event.description" class="form-control" cols="30" rows="10"></textarea>
              </div>
              <div class="form-group">
                <label for="" class="control-label">Público-alvo</label>
                <textarea id="id_target_audience" name="target_audience" v-model="event.target_audience" class="form-control" cols="30" rows="10"></textarea>
              </div>
              <div class="form-group">
                <label for="" class="control-label">Estratégias de marketing</label>
                <textarea id="id_marketing" name="marketing" v-model="event.marketing" class="form-control" cols="30" rows="10"></textarea>
              </div>
              <div class="form-group">
                <label for="" class="control-label">Vantagens para o patrocinador</label>
                <textarea id="id_benefits" name="benefits" v-model="event.benefits" class="form-control" cols="30" rows="10"></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Cotas -->
      <div class="card">
        <div class="card-header" id="heading2" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2" @click="toggleCollapse(2)">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed" type="button">
              <span>
                <i class="fa" :class="v.v2 ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
              </span>
              Cotas
            </button>
          </h2>
        </div>
        <div id="collapse2" class="my-collapse collapse" aria-labelledby="heading2" data-parent="#accordionExample">
          <div class="card-body">
            <div>
              <div class="form-row" v-for="cost in costs" :key="cost.id">
                <div class="form-group col-md-3">
                  <label class="control-label">Patrocínio</label>
                  <input :id="'cost_sponsorship'+cost.id" v-model="cost.sponsorship" class="form-control" type="text" />
                </div>
                <div class="form-group col-md-3">
                  <label class="control-label">Valor</label>
                  <input :id="'cost_value'+cost.id" v-model="cost.value" class="form-control" type="number" min="0" step="0.01" />
                </div>
                <div class="form-group col-md-6">
                  <label class="control-label">Reciprocidade</label>
                  <textarea :id="'cost_reciprocity'+cost.id" name="reciprocity" v-model="cost.reciprocity" class="form-control" cols="40" rows="10"></textarea>
                </div>
              </div> <!-- form-row -->
              <button id="btnCost" type="button" class="btn btn-primary" @click="costAdd">
                <i class="fa fa-plus"></i> Adicionar
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- Orçamento -->
      <div class="card">
        <div class="card-header" id="heading3" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3" @click="toggleCollapse(3)">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed" type="button">
              <span>
                <i class="fa" :class="v.v3 ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
              </span>
              Orçamento
            </button>
          </h2>
        </div>
        <div id="collapse3" class="my-collapse collapse" aria-labelledby="heading3" data-parent="#accordionExample">
          <div class="card-body">
            <div>
              <div class="form-row" v-for="proposal in proposals" :key="proposal.id">
                <div class="form-group col-md-6">
                  <label class="control-label">Descrição</label>
                  <input :id="'proposal_description'+proposal.id" v-model="proposal.description" class="form-control" type="text" />
                </div>
                <div class="form-group col-md-3">
                  <label class="control-label">Valor Unitário</label>
                  <input :id="'proposal_value'+proposal.id" v-model="proposal.value" class="form-control" type="number" min="0" step="0.01" />
                </div>
                <div class="form-group col-md-3">
                  <label class="control-label">Quantidade</label>
                  <input :id="'proposal_quantity'+proposal.id" v-model="proposal.quantity" class="form-control" type="number" min="0" step="1" />
                </div>
              </div> <!-- form-row -->
              <button id="btnProposal" type="button" class="btn btn-primary" @click="proposalAdd">
                <i class="fa fa-plus"></i> Adicionar
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- Evento -->
      <div class="card">
        <div class="card-header" id="heading4" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4" @click="toggleCollapse(4)">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed" type="button">
              <span>
                <i class="fa" :class="v.v4 ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
              </span>
              Eventos
            </button>
          </h2>
        </div>
        <div id="collapse4" class="my-collapse collapse" aria-labelledby="heading4" data-parent="#accordionExample">
          <div class="card-body">
            <div>
              <div class="form-row" v-for="talk in talks" :key="talk.id">
                <div class="form-group col-md-3">
                  <label for="" class="control-label">Data</label>
                  <input :id="'talk_date'+talk.id" name="date" v-model="talk.date" class="form-control" type="date" />
                </div>
                <div class="form-group col-md-3">
                  <label for="" class="control-label">Hora</label>
                  <input :id="'talk_start'+talk.id" name="start" v-model="talk.start" class="form-control" type="time" />
                </div>
                <div class="form-group col-md-6">
                  <label class="control-label">Atividade</label>
                  <input :id="'talk_description'+talk.id" v-model="talk.description" class="form-control" type="text" />
                </div>
              </div> <!-- form-row -->
              <button id="btnTalk" type="button" class="btn btn-primary" @click="talkAdd">
                <i class="fa fa-plus"></i> Adicionar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="float-right mt-3">
      <button class="btn btn-lg btn-success" type="submit">Salvar</button>
    </div>
  </form>
</div>
{% endblock content %}
{% block vuejs %}
<script>
const endpoint = '{{ endpoint }}';
</script>
<script src="{% static 'js/event_add.js' %}"></script>
{% endblock vuejs %}